/node_modules
/public/hot
/public/storage
/public/blog-employmed
/storage/*.key
/vendor
.env
=======
/public/advertisements/*
/public/uploads/*
/public/courses/*
/public/posts/*
/public/cv/*
/public/posters/*
/storage/*.key
/vendor
/database/locations.sql
.env
.env.backup

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
