// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'layout';
@import 'tagsinput';

@import '~select2';

@import '~bootstrap-select/sass/bootstrap-select.scss';

@import '../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.css';

@import '../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.min';

#notifications.has-notifications {
    color: #bf5329
}

.slider.slider-horizontal:hover, .slider.slider-vertical:hover {
    .tooltip.tooltip-main {
        opacity: 0.7 !important;
    }
    .tooltip-inner {
        font-size: 90%;
        width: auto;
    }
}