#notifications.has-notifications {
    color: #bf5329
}

.notification {
    background-color: #fff;
    color: white;
    text-decoration: none;
    padding: 10px 16px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}
  
.notification .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 8px 6px;
    border-radius: 50%;
    background-color: red;
    color: white;
    width: 25px;
    height: 25px;
}

.warning {
    text-decoration: none;
    padding: 10px 16px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}
  
.warning .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 8px 6px;
    border-radius: 50%;
    background-color: red;
    color: white;
    width: 25px;
    height: 25px;
}